<!-- Implementing the navigation bar as a layout -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="my-navbar">
    <div class="container">

        <!-- Updated with the latest creative -->
        <a class="navbar-brand js-scroll-trigger" href="#home">Thushara Bandara</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#education">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#work-experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#posts">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#github">GitHub</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#tweets">Tweets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact-info">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="public/docs/Thushara_Bandara.pdf#toolbar=0" target="_blank">Resume</a>
                </li>
            </ul>
        </div>
    </div>
</nav>