/* Global styles */
body {
    padding: 0px;
    margin: 0px;
}

/* Customize navigation-bar */
#navbar-interest {
    margin-bottom: 80px;
}

.navbar-light {
    transition: 500ms ease;
    background: white;
}

.navbar-light.scrolled {
    background-color: gray;
}

/* Customize Interests html pages */
.interests-heading {
    margin-top: 50px;
}

/* Customize the book details container in books.html */
#book-info {
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Customize the movie details container in movies.html */
#movie-info {
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Customize the tvshow details container in tvshows.html */
#tvshow-info {
    margin-bottom: 40px;
}

/* Customize the music details container in music.html */
#music-info {
    margin-bottom: 40px;
}

/* Customize figure captions */
#author-caption, #movie-caption, #tvshow-caption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    text-align: center;
    width: 340px; 
}