/* Global styles */
body {
    padding: 0px;
    margin: 0px;
}

/* Customize navigation-bar */
#navbar-posts {
    margin-bottom: 80px;
}

.navbar-light {
    transition: 500ms ease;
    background: white;
}

.navbar-light.scrolled {
    background-color: gray;
}

/* Customize Posts html page */
.posts-heading {
    margin-top: 50px;
}