/* Global styles */
body {
    padding: 0px;
    margin: 0px;
}

/* Customize the intro section */
.my-intro {
    padding-top: 220px;
    height: 650px;
    /* background-image: url('/public/img/galaha.JPG'); */
    background-color: yellow;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Customize the eductation section */
.education-info {
    padding-top: 40px;
    background-color: black;
    color: rgb(202, 202, 202);
    height: 530px;
}

.edu-button {
    padding-top: 50px;
}

/* Customize the work experience section */
.work-experience {
    padding-top: 40px;
    height: 575px;
}

.work-button {
    padding-top: 30px;
}

/* Customize the posts section */
.posts {
    padding-top: 40px;
    height: 400px;
    color: white;
    background-color: yellow;
}